# Telegram Integration
TELEGRAM_BOT_TOKEN=your_bot_token_here

# Web Server Configuration
ALLOWED_HOSTS=127.0.0.1,localhost,mysite.com
CSRF_TRUSTED_ORIGINS=http://localhost,http://127.0.0.1,https://mysite.com
