{% extends 'base.html' %}
{% block content %}

<!-- =================== HEADER =================== -->
{% include 'components/header.html' %}
<!-- =================== HERO =================== -->
{% include 'components/hero.html' %}
<!-- =================== TRUST BAR =================== -->
{% include 'components/section_1.html' %}
<!-- =================== HOW IT WORKS =================== -->
{% include 'components/how-it-works.html' %}
<!-- =================== TEMPLATE GALLERY =================== -->
{% include 'components/templates.html' %}
<!-- =================== WHAT'S INCLUDED =================== -->
{% include 'components/всё_включено_в_одну_.html' %}
<!-- =================== COMPARISON =================== -->
{% include 'components/почему_мы_выгоднее.html' %}
<!-- =================== TESTIMONIALS =================== -->
{% include 'components/что_говорят_клиенты.html' %}
<!-- =================== PRICING =================== -->
{% include 'components/pricing.html' %}
<!-- =================== FAQ =================== -->
{% include 'components/faq.html' %}
<!-- =================== CONTACT FORM =================== -->
{% include 'components/contact.html' %}
<!-- =================== FOOTER =================== -->
{% include 'components/footer.html' %}
<!-- =================== JAVASCRIPT =================== -->


{% endblock %}