{% extends 'base.html' %}
{% block content %}

<!-- =================== HEADER =================== -->
{% include 'components/header.html' %}
<!-- =================== HERO =================== -->
{% include 'components/hero.html' %}
<!-- =================== HOW IT WORKS =================== -->
{% include 'components/how-it-works.html' %}
<!-- =================== TEMPLATE GALLERY =================== -->
{% include 'components/templates.html' %}
<!-- =================== WHAT'S INCLUDED =================== -->
{% include 'components/whats_included.html' %}
<!-- =================== COMPARISON =================== -->
{% include 'components/why_we_better.html' %}
<!-- =================== TESTIMONIALS =================== -->
{% include 'components/testimonials.html' %}
<!-- =================== PRICING =================== -->
{% include 'components/pricing.html' %}
<!-- =================== FAQ =================== -->
{% include 'components/faq.html' %}
<!-- =================== CONTACT FORM =================== -->
{% include 'components/contact.html' %}
<!-- =================== FOOTER =================== -->
{% include 'components/footer.html' %}
<!-- =================== JAVASCRIPT =================== -->


{% endblock %}
